html, body {
	padding: 10px;
	margin: 0;
}

div#header {margin: auto;}

div#game-board-wrapper {float: left;}
div#game-pad-wrapper {float: left; margin-left: 10px;}
div#game-error-wrapper {float: left; margin-left: 10px;}

table.game-board {
	margin: auto;
	border-collapse: collapse;
	border: 2px solid black;
}

table.game-board td {
	width: 30px;
	height: 30px;
	padding: 10px;
	font: 30px arial, sans-serif;
	text-align: center;
}x

table.game-board td.highlighted {
	background-color: #EEEEEE;
}

table.game-board td.row-last {
	border-bottom: 1px solid black;
}

table.game-board td.hard-top {
	border-top: 2px solid black;
}

table.game-board td.col-last {
	border-right: 1px solid black;
}

table.game-board td.hard-left {
	border-left: 2px solid black;
}

table.game-board td.normal {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

table.game-board td.hand {
	cursor: pointer;
}

table.game-board td.selectedNumber {
	background-color: yellow;
}

table.game-board td.errorCell {
	background-color: #F00;
}

table.game-board td.bold {
	font-weight: bold;
}

table.game-board td.lighter {
	font-weight: lighter;
}

table#game-pad {
	border-collapse: collapse;
	border: 1px solid black;
}

table#game-pad td {
	width: 60px;
	height: 40px;
	text-align: center;
	background-color: grey;	
}

table#game-pad button {
	width: 60px;
	height: 40px;
	font: 25px arial, sans-serif;
	cursor: pointer;
}

div#game-error-wrapper ul {
	list-style: disc;
}