html, body {
	padding: 0;
	margin: 0;
	font: 20px arial, sans-serif;
}

div#wrapper {
  min-width: 70%;
  min-height: 70%;
}

/* Game Board */
div#game-board-wrapper {
  width: 490px;
  height: 490px;
  float: left;
  margin: 10px;
}

table#game-board {
	margin: auto;
	border-collapse: collapse;
	border: 2px solid black;
}

table#game-board td {
	width: 30px;
	height: 30px;
	padding: 10px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	color: #005fee;
	background-color: #ffffff;
}

table#game-board td.normal {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

table#game-board td.open-position {color: #000000;}
table#game-board td.heavy-border-right {border-right: 2px solid black;}
table#game-board td.heavy-border-bottom {border-bottom: 2px solid black;}

/* Cell background & Cell number colour */
table#game-board td.selected-cell {background-color: #adcaf7;}
table#game-board td.selected-background {background-color: #eeeeee;}
table#game-board td.same-number-background {background-color: #9fa5fc;}
table#game-board td.warning {background-color: #fda1a1;}


/* Game Pad */
div#game-pad-wrapper {
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px;
}

table#game-pad {
	margin: auto;
	border-collapse: collapse;
}

table#game-pad td {
	width: 100px;
	height: 100px;
	font-size: 40px;
	text-align: center;
  color: #005fee;
  background-color: #eeeeee;
  border: 5px solid #ffffff;
  cursor: pointer;
}

table#game-pad td:hover {background-color: #a3adcf;}



/* Buttons */
button#btn_new_game {
	display: block;
	background-color: #3d49f8;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 300px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0 0 20px 0;
}

button#btn_new_game:hover {
	background-color: #636dfd;
}
