html, body {
	padding: 10px;
	margin: 0;
	font: 20px arial, sans-serif;
}

div#game-board-wrapper {float: left; width: 70%;}
div#game-controls {float: right; width: 30%;}

table.game-board {
	margin: auto;
	border-collapse: collapse;
	border: 2px solid black;
}

table.game-board td {
	width: 30px;
	height: 30px;
	padding: 10px;
	font-size: 30px;
	text-align: center;
}

table.game-board td.normal {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

table.game-board td.heavy-border-right {border-right: 2px solid black;}
table.game-board td.heavy-border-bottom {border-bottom: 2px solid black;}
table.game-board td.alt-background {background-color: #eeeeee;}

button {
	display: block;
	background-color: #3d49f8;
	border-radius: 10px;
	border: 4px double #cccccc;
	color: #eeeeee;
	text-align: center;
	font-size: 28px;
	padding: 20px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0 0 20px 0;
}

button:hover {
	background-color: #636dfd;
}
